body{
    margin: 0;
    padding: 0;
}
.container1{
    width: 50%;
    margin: auto;
    float: left;
}
.icons1 ul{
    list-style: none;
}
.icons1 ul li{
    display: inline-block;
}
.icons1 ul li a{
    background-color: blue;
    color: white;
    padding: 30px;
    font-size: 40px;
    display: block;
    border-radius: 7px;
}
.icons1 ul li a:hover{
    background-color: cornflowerblue;
    color: #400040;
}


.icons2 ul{
    list-style: none;
}
.icons2 ul li{
    display: inline-block;
}
.icons2 ul li a{
    background-color: #8000ff;
    color: #000;
    padding: 30px;
    font-size: 38px;
    display: block;
    border-radius: 7px;
}
.icons2 ul li a:hover{
    border-radius: 50%;
    color: #ff80ff;
}


.icons3 ul{
    list-style: none;
}
.icons3 ul li{
    display: inline-block;
}
.icons3 ul li a{
    background-color: firebrick;
    color: white;
    padding: 32px;
    font-size: 41px;
    display: block;
    border-radius: 7px;
}
.icons3 ul li a:hover{
    background-color: white;
    color: tomato;
}


.icons4 ul{
    list-style: none;
}
.icons4 ul li{
    display: inline-block;
}
.icons4 ul li a{
    background-color: #80ffff;
    color: teal;
    padding: 30px;
    font-size: 42px;
    display: block;
    border-radius: 7px;
}
.icons4 ul li a:hover{
    background-color: thistle;
    color: black;
    border-radius: 50%;
}


.icons5 ul{
    list-style: none;
}
.icons5 ul li{
    display: inline-block;
}
.icons5 ul li a{
    background-color: #faea06;
    color: white;
    padding: 32px;
    font-size: 40px;
    display: block;
    border-radius: 7px;
}
.icons5 ul li a:hover{
    background-color: rgb(97, 96, 92);
    color: rgb(182, 26, 99);
}





.container2{
    width: 50%;
    margin: auto;
    float: right;
}
.icons6 ul{
    list-style: none;
}
.icons6 ul li{
    display: inline-block;
}
.icons6 ul li a{
    background-color: #ff0080;
    color: rgb(2, 2, 24);
    padding: 31px;
    font-size: 41px;
    display: block;
    border-radius: 7px;
}
.icons6 ul li a:hover{
    transform: rotateY(30deg);
    background-color: #e4f237;
}

.icons7 ul{
    list-style: none;
}
.icons7 ul li{
    display: inline-block;
}
.icons7 ul li a{
    background-color: #400000;
    color: white;
    display: block;
    padding: 32px;
    font-size: 42px;
    border-radius: 7px;
}
.icons7 ul li a:hover{
    transform: rotateX(30deg);
    color: #0080ff;
}

.icons8 ul{
    list-style: none;
}
.icons8 ul li{
    display: inline-block;
}
.icons8 ul li a{
    background-color: #48d1cc;
    color: #000046;
    padding: 31px;
    font-size: 40px;
    display: block;
    border-radius: 7px;
}
.icons8 ul li a:hover{
    background-color: #99044b;
    color: #00ff80;
    padding: 25px;
}


.icons9 ul{
    list-style: none;
}
.icons9 ul li{
    display: inline-block;
}
.icons9 ul li a{
    background-color: tomato;
    padding: 31px;
    font-size: 40px;
    display: block;
    border-radius: 7px;
}
.icons9 ul li a:hover{
    background-color: rgb(161, 106, 106);
    border-radius: 20px;
}


.icons10 ul{
    list-style: none;
}
.icons10 ul li{
    display: inline-block;
}
.icons10 ul li a{
    background-color: #8a108a;
    color: rgb(113, 245, 87);
    padding: 30px;
    font-size: 42px;
    border-radius: 7px;
    display: block;
}
.icons10 ul li a:hover{
    background-color: rgb(187, 52, 28);
    padding: 40px;
    border-radius: 20px;
}